.DS_Store
.obsidian/
node_modules/
*.log
Assets/External_Files/
James/James Resources and commentaries/Commentaries/4.0 Bible Bundle Product 8.5 X 11.pdf
James/James Resources and commentaries/Commentaries/Pawson James merged.pdf
